/* Styles in this file originated from soe_helper.css */

/* ADD GOOGLE ROBOTO SLAB FONT */

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100);

body {
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5em;
    font-family:"Source Sans Pro", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto Slab", "Open sans", sans-serif;;
}

h1 {
    font-weight: 400;
    margin: -9px 0 10px;
    font-size: 1.9em;
    letter-spacing: 0em;
}

h2 {
    font-size: 1.4em;
    letter-spacing: 0.02em;
}

h3 {
    font-size: 1.3em;
}

.site-name {
}

.site-name a,
.site-name a:hover {

}
#site-slogan {

}

.summary {
    font-family: "Roboto Slab", "Open sans", sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
    margin-bottom: 30px;
}
.descriptor {
    text-transform: none;
    letter-spacing: 0.02em;
    font-size: 0.9em;
    margin-bottom: 4px;
    line-height: 1.2em;
}
.credits {
    margin-bottom: 0;
    margin-top: -8px;
    font-size: .7em;
}

.caption {
    font-size: .7em;
    font-style: normal;
}

.banner-overlay p {
}

a {
}

li {
    line-height: 1.4em;
    margin-bottom: 10px;
}

.normal-link h2,
.normal-link h3,
h2.normal-link,
h3.normal-link {
    font-size: 1.1em;
}

a.btn,
.btn a {
}

a.more-link,
.more-link a {

}

.block.well h2 {

}

.navbar .nav > li > a {

}

.sidebar .block-menu h2,
.sidebar .block-menu-block h2 {
    font-family: "Roboto Slab", "Open sans", sans-serif;
    font-weight: 400;
    letter-spacing: 0em;
}

.date-day {
    font-size: 22px;
    font-family: "Roboto Slab", "Open sans", sans-serif;
    font-weight: 400;
}

